<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.guigu.dao.StorageMapper">
    <resultMap id="BaseResult" type="com.cloud.guigu.domain.Storage">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="total" property="total"/>
        <result column="used" property="used"/>
        <result column="residue" property="residue"/>
    </resultMap>

    <update id="update">
        update t_storage set used=#{count},residue=total - #{count} where product_id=#{productId}
    </update>

</mapper>